body {
    background-color: #121212;
}

.navbar-container .navbar-brand {
    display: flex;
    align-items: center;
}

.body-container {
    display: flex;
    flex-direction: row;
}

.search-bar {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-top: 1%;
}

.search-bar .form-control:focus {
    box-shadow: none;
    outline: none;
}

.search-bar .search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
}

.search-bar .form-control {
    border-radius: 30px;
    border: 0;
    padding: 0.8rem 1rem;
    padding-right: 3.5rem;
    background-color: #2f2f2f;
    color: white;
}

.upload-btn {
    background-color: #2f2f2f;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.upload-btn i {
    margin-right: 0.5rem;
}

.upload-btn:hover {
    background-color: #1b1b1b;
    color: white;
}

.ui-widget-content {
    border: 0 !important;
    background-color: #2f2f2f !important;
}

.ui-autocomplete {
    border: 0;
    box-shadow: none;
    background-color: #2f2f2f;
    border-radius: 10px;
    max-height: 190px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    color: #fff;
}

.ui-menu-item {
    padding: 8px 16px;
    background-color: #2f2f2f;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.ui-menu-item-wrapper {
    background-color: #2f2f2f !important;
    border: 0 !important;
}

.ui-menu-item:hover,
.ui-state-hover,
.ui-menu-item-wrapper:hover {
    background-color: #444 !important;
    color: #fff;
}

.ui-menu-item .autocomplete-icon {
    margin-right: 8px;
    color: #fff;
}

.sidebar {
    width: 260px;
    background-color: #121212;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    padding: 20px;
    overflow-y: auto;
    background-color: #1a1a1a;
}

.content-part {
    flex: 1;
    padding: 20px;
}

.divider {
    width: 2px;
    background-color: #282828;
    margin: 0 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: 600;
}

.menu-item.active {
    color: #fff;
    border: 2px solid #ff3b5c;
}

.menu-item:hover {
    color: #fff;
    border: 2px solid #ff3b5c;
}

.menu-item .icon {
    margin-right: 10px;
    font-size: 20px;
}

.section {
    margin-top: 20px;
}

.section h3 {
    font-size: 0.9em;
    margin-bottom: 10px;
    color: #838483;
}

.section p {
    font-size: 0.9em;
    color: #838483;
}

.section a {
    font-size: 12px;
    color: #838483;
    text-decoration: none;
    padding-right: 2%;
}

.section a:hover {
    text-decoration: underline;
}

.footer {
    margin-top: auto;
    font-size: 0.8em;
    color: #777;
}

hr {
    margin: 5px 3px;
    border: none;
    border-top: 1px solid #282828;
}

#video-loader {
    height: 175px !important;
    width: auto;
    display: none;
    position: fixed;
    top: 45%;
    left: 25%;
}

.loader-img {
    height: 200px !important;
    width: auto;
}

.text-box {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

#audio-player {
    margin-top: 20px;
}

#audio-loader {
    height: 175px !important;
    width: auto;
    display: none;
    position: fixed;
    top: 45%;
    left: 70%;
}

.body-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content-part {
    flex: 1;
    padding: 20px;
}

.divider {
    width: 2px;
    background-color: #ccc;
    height: 100%;
    margin: 0 20px;
}

#left-content {
    order: 1;
}

#right-content {
    order: 2;
}